.Header {
  // background: #;
  text-transform: uppercase;
  .trigger {
    display: none;
  }
  &_top {
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    height: 50px;
    z-index: 100;
    box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
  }
  &_main {
    margin-top: 50px;
    background: #ddae52;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    img {
      width: 40px;
      margin: 0 20px;
    }
    .main-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 60px;
    }
  }
  .langs {
    display: flex;
    &_item {
      display: inline-block;
      padding: 10px;
      margin: 0 5px;
      border-radius: 10px;
      transition: .2s;
      cursor: pointer;
      &:hover {
        background: #c9c9c93d;
      }
      &.active {
        background: #c9c9c93d;
      }
    }
  }
  .nav {
    display: flex;
    position: relative;
    &_sublist {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      padding: 10px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0%;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
      transition: max-height 0.5s;
      z-index: 110;
      .nav_item {
        margin-bottom: 5px;
      }
    }
    &_item {
      position: relative;
      display: inline-block;
      padding: 10px;

      margin: 0 5px;
      white-space: nowrap;
      border-radius: 10px;
      transition: .2s;
      cursor: pointer;
      &:hover {
        background: #c9c9c93d;
        .nav_sublist {
          max-height: 1000px;
          opacity: 1;
        }
      }
      &.active {
        background: #c9c9c93d;
      }
    }
  }
}

.Footer {
  width: 100%;
  background: #ddae52;
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    color: #fff;
    img {
      width: 20%;
    }
    .info {
      width: 50%;
      &__head {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 30px;
        padding: 10px;
      }
      &__item {
        display: flex;
        font-size: 20px;
        padding: 10px;
        &:not(.label) {
          text-decoration: underline;
        }
        .label {
          width: 120px;
          font-weight: bold;
        }
      }
    }
  }
}

.main {
  padding: 50px 0%;
  white-space:pre-wrap;
  &-content {
    text-align: justify;
    font-size: 22px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ddae52;
  }
  &-poster {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding: 20px 5px;
    &-content {
      font-size: 14px;
      margin-bottom: 40px;
      padding-bottom: 10px;
    }
    &-poster {
      width: 100%;
    }
  }
  .Header {
    display: flex;
    flex-direction: column;
    .langs {
      width: 100%;
      padding: 0 10px;
    }
    .trigger {
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: none;
      background: transparent;
      // background: #44444459;
      padding: 5px;
      border-radius: 5px;
      margin-left: auto;
      span {
        display: inline-block;
        width: 100%;
        height: 5px;
        background: #ddae52;
        border-radius: 3px;
      }
    }
    &_top {
      order: 2;
      position: static;
      padding: 5px;
      width: 100%;
      flex-direction: column;
      height: auto;
    }
    &_main {
      order: 1;
      margin-top: 0;
      height: 60px;
      .main-title {
        font-size: 20px;
        width: 100%;
        img {
          width: 20px;
          margin: 0 20px;
        }
      }
    }
    .nav {
      margin-top: 20px;
      flex-direction: column;
      width: 100%;
      display: none;
      &.show {
        display: flex;
      }
    }
  }
  .Footer {
    &__top {
      flex-direction: column;
    }
    .info {
      width: 100%;
      &__item {
        font-size: 16px;
        .label {
          width: auto;
          margin-right: 10px;
        }
      }
    }
  }
}