body {
  margin: 0;
  font-family: 'Island Moments', cursive;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
  &.content-link {
    text-decoration: underline;
    color: #85805b;
  }
}
p {
  font-weight: 300;
  text-align: justify;
}

ul {
  li {
    list-style: none;
  }
}

.Loader {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #afaf928c;

  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
  color: #0000008f;
  margin: 15px 0;
}

.page {
  min-height: 70vh;
  padding: 20px 10%;
  &.full {
    padding: 0px;
  }
  &__heading {
    display: block;
    text-transform: uppercase;
    border-bottom: 5px solid #ddae52;
    margin-bottom: 40px;
  }
  &__content {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
  }
}
.NotFound {
  flex-grow: 1;
  background: #444444bd;
  color: #ddae52;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__404 {
    font-weight: bold;
    font-size: 200px;
  }
  &__title {
    // font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
  }
}

.mainpics {
  width: 100%;
  &__wrapper {
    display: flex;
  }
  &__img_title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-weight: bold;
    opacity: 0;
    transition: 0.2s;
    background: #eeeeeea3;
    text-transform: uppercase;
    color: #ddae52;
    text-shadow: 0px 0px 7px #000000;
  }
  &__img {
    position: relative;
    display: flex;
    flex-basis: 50%;
    margin: 5px;
    min-height: 400px;
    background: #444;
    img {
      width: 100%;
    }
    &:hover {
      .mainpics__img_title {
        opacity: 1;
      }
    }
  }
}

.article {
  padding: 40px 10%;
  background: #eee;
  &__heading {
    font-size: 34px;
    padding: 30px 0px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.Article {
  padding: 20px 15px;
  &__content {
    font-size: 22px;
    font-weight: 400;
  }
}

.Accordion {
  &__item {
    margin-bottom: 20px;
  }
  &__title {
    background: #ddae52;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }
  &__content {
    font-size: 20px;
  }
}

.label-wrapper {
  background: #eee;
  padding: 40px 0;
}
.Label {
  padding: 0 5%;
  margin-bottom: 50px;
  &__heading {
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-bottom: 10px;
    &:after {
      content: '';
      display: block;
      height: 10px;
      width: 50%;
      // flex-grow: 1;
      margin: 20px;
      margin-left: auto;
      background: #ddae52;
    }
  }
  &__content {
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: 3px solid #ddae52;
  }
}

.Blocks {
  padding: 30px 0%;
  margin-top: 40px;
  &__heading {
    font-size: 40px;
    border-bottom: 3px solid #ddae52;
    margin-bottom: 10px;
    text-align: center;
    line-height: 2;
  }
  &__wrapper {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__item {
    flex-basis: 50%;
    padding: 20px;
    margin: 10px;
    background: #ddae5247;
    border-radius: 20px;

    p {
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.Gallery {
  padding: 40px 0;
  margin-left: -10%;
  margin-right: -10%;
  &__item {
    .img {
      height: 500px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  .slick-arrow {
    &:before {
      font-size: 30px;
      color: #444;
    }
  }
  .slick-next, .slick-prev {
    width: 30px;
    height: 30px;
  }
}

.Doc {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;
    flex-basis: 100px;
    .img {
      width: 150px;
      height: 200px;
      background: #33333387;
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 10px;
      margin: 10px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__title {
    text-align: center;
  }
}

.Post {
  display: flex;
  flex-wrap: wrap;
  &__wrapper  {
    flex-basis: 50%;
    transition: 0.2s;
    &:hover {
      opacity: 0.7;
    }
  }
  &__item {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 5px;
  }
  &__title {
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
  }
  &__poster {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    height: 200px;
    width: 100%;
    background: #444;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  &__created {
    margin: 10px 0 0 0;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
  }
}

.Person {
  &__name {
    font-size: 22px;
    margin-bottom: 10px;
  }
  &__description {
    
  }
  &__item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddae52;
  }
}

@media screen and (min-width: 1500px) {
  .Post {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    &__wrapper  {
      flex-basis: 33.33333333%;
      transition: 0.2s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}


@media screen and (max-width: 800px) {
  .page {
    &__heading {
      font-size: 20px;
    }
  }
  .slick-arrow {
    display: none !important;
  }
  .Blocks {
    padding: 10px 0;
    margin-top: 10px;
    &__wrapper {
      flex-direction: column;
    }
    &__heading {
      font-size: 20px;
    }
    &__item {
      flex-basis: 50%;
      padding: 20px;
      margin: 5px;
      font-size: 14px;
      p {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .label-wrapper {
    padding: 10px 0;
  }
  .Label {
    padding: 10px;
    margin-bottom: 20px;
    &__heading {
      padding: 5px;
      font-size: 18px;
      margin-bottom: 0px;
      &:after {
        display: none;
      }
    }
    &__content {
      font-size: 14px;
      padding-bottom: 10px;
      border-bottom: 3px solid #ddae52;
    }
  }
  .Gallery {
    padding: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    &__item {
      .img {
        height: 300px;
      }
    }
  
    .slick-arrow {
      &:before {
        font-size: 30px;
        color: #444;
      }
    }
    .slick-next, .slick-prev {
      width: 30px;
      height: 30px;
    }
  }
  .Doc {
    width: 100%;
    padding: 10px;
    &__item {
      margin-bottom: 20px;
      transition: 0.3s;
      cursor: pointer;
      .img {
        width: 100px;
        height: 120px;
        background: #33333387;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 10px;
        margin: 15px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    &__title {
      text-align: center;
      font-size: 10px;
    }
  }
  .Post {
    &__wrapper  {
      flex-basis: 100%;
      &:hover {
        opacity: 0.7;
      }
    }
    &__title {
      width: 100%;
      font-weight: bold;
      font-size: 15px;
    }
    &__preview {
      font-size: 14px;
    }
    &__created {
      font-size: 12px;
    }
  }
  .mainpics {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__img {
      flex-basis: 100%;
      min-height: 200px;
    }
  }
  .Article {
    padding: 0px 0px 20px 0px;
    &__content {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .article {
    margin-right: -10%;
    margin-left: -10%;
    padding: 20px 10%;
    background: #eee;
    &__heading {
      font-size: 24px;
      padding: 10px 0px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .Accordion {
    &__item {
      margin-bottom: 10px;
    }
    &__title {
      text-align: left;
      background: #ddae52;
      border-radius: 10px;
      padding: 10px 20px;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
    }
    &__content {
      padding: 10px 0;
      font-size: 14px;
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
